header {
    position: relative;
}
.fundo-header img {
    width: 100%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #eeeeee;
    padding-top: 60px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 999;
}
.sidebar.active {
    transform: translateX(0);
}
.sidebar .close-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}
.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin 0.3s ease-in-out;
}
.menu-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}