.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #eeeeee;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 999;
    overflow-y: auto;
}
.sidebar.active {
    transform: translateX(0);
}
.sidebar .close-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}
.menu-btn {
    position: absolute;
    left: 18px;
    top: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
}
.img_menu {
    margin-bottom: 2rem;
}
.img_menu img {
    width: 100%;
}
.sidebar ul {
    padding: 0 22px;
}
.sidebar ul .option-menu {
    padding: 18px 20px;
    background: white;
    border-radius: 6px;
    margin-bottom: 1rem;
}
.sidebar ul .option-menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar ul .option-menu a .content_menu {
    display: flex;
    align-items: center;
}
.sidebar ul .option-menu a .content_menu span {
    margin-left: 2rem;
    font-size: 13px;
    height: 18px;
    color: #515151;
    font-weight: 500;
}
@media screen and (min-width: 800px) {
    .sidebar {
        width: 50%;
    }
}