* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --green-color: #00aa9b;
    --orange-color: #ff8014;
    --dark-gray-color: #a9a9a9;
    --bg-gray-color: #eeeeee;
    --font-14: 14px;
    --font-11: 11px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-medium {
    margin-top: 1.5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.pb-2-medium {
    padding-bottom: 2.5rem;
}
.pb-1-medium {
    padding-bottom: 1.5rem;
}
.flex_box {
    display: flex;
}
.justify-content-space-between {
    justify-content: space-between;
}
.flex-direction-column {
    flex-direction: column !important;
}
.align-items-center {
    align-items: center !important;
}
.grid_box {
    display: grid;
}
.w-100 {
    width: 100%;
}
.p-0 {
    padding: 0 !important;
}
.menu .home {
    position: absolute;
    top: 34px;
    right: 28px;
}
.menu .home img {
    width: 22px;
}
.breadcrumbs {
    display: flex;
    font-size: var(--font-11);
    color: white;
    position: absolute;
    top: 37px;
    left: 66px;
}
.breadcrumbs .breadcrumb {
    margin-right: 4px;
}
strong {
    font-weight: 700;
}
.relative {
    position: relative;
}