* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --green-color: #00aa9b;
    --orange-color: #ff8014;
    --dark-gray-color: #a9a9a9;
    --bg-gray-color: #eeeeee;
    --font-14: 14px;
    --font-11: 11px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-medium {
    margin-top: 1.5rem;
}
.pb-2-medium {
    padding-bottom: 2.5rem;
}